# Application
#version control plugins in pantheon
#web/app/plugins/*
!web/app/plugins/.gitkeep
#version control mu plugins in pantheon
#web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
#web/wp
web/.htaccess

# Dotenv
# .env
.env.*
!.env.example

# Composer
#vendor/*
!vendor/.gitkeep
